.THIS {
    background-color: "white";
}

.THIS div {
    background-color: "white";
    
}

.THIS button {
    background-color: #fcb010;
    border-radius: 8px;
    color: #c21023;
    border: 1px solid #c21023;
}