.THIS
{
    background-color: white;
}

.THIS table, .THIS th, .THIS td
{
    border: 2px solid white;
    border-collapse: collapse;
    background-color: white;
}

.THIS table
{
    width: 95%;
    margin: 15px;
    padding: 4px;
}

.THIS th, .THIS td
{
    width: 25%;
    padding: 4px 4px 4px 8px;
    border-radius: 6px;
}

.THIS th
{
    background-color: #c21023;
    color: white;
}

.THIS td
{
    background-color: #fcb010;
    font-family: Montserrat;
    font-style: bold;
    color: black;
}

.THIS button
{
    border: 1px solid black;
}

.THIS button:hover
{
    background-color: gray;
    border: 1px solid black;
}

.noBord.THIS 
{
    border: hidden;
}